<p style="font-size: 22px;">
  <%= t("card.head_text") %>
</p>
<% unless current_user %>
  <p>Пожалуйста зарегестрируйтесь или войдите в профиль чтобы продолжить!</p>
<% end %>
<div class="img_container">
  <%= image_tag 'flashcards_image.jpg' %>
</div>


