<p style="font-size: 22px;">
  <%= t("card.head_text") %>
</p>
<p>Пожалуйста зарегестрируйтесь или войдите в профиль чтобы продолжить!</p>
<div class="img_container">
  <img src="public/../../../flashcards_image.jpg" class="img-responsive" alt="Responsive image">
</div>


