// Place all the styles related to the Trainer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.card_picture_block{
  position: absolute;
  left: 803px;
  top: 285px;
}
